<h1>Reports#index</h1>

<table>
	<%= form_tag(controller: "reports", action: "index") do %>
	<th>検索</th>
	<tr>
		<td><%= text_field_tag("to") %> ~ <%= text_field_tag("from") %></td></tr>
		<td>ユーザーID : <%= text_field_tag("name") %></td></tr>
	<tr>
		<td><%= submit_tag("検索") %></td></tr>
	</tr>
	<% end %>
</table>
<table>
	
    <td><a href="/reports/add/">レポート記入</a></td>
	<% @data.each do |obj| %>
	<tr>
		<td><%= obj.entry_date %></td>
		<td><%= obj.user.name %></td>
		<td><a href="/reports/<%= obj.id %>">詳細</a></td>
		<td><a href="/reports/edit/<%= obj.id %>">編集</a></td>
	</tr>
	<% end %>
	<%= paginate @data %>
</table>
